// Colors
$red-color:#f6475f;
$black-color:#343a40;
$yellow-color:#ffbc09;
$white-color:#ffffff;
$green-color:#b3d36a;
$orange-color:#f89035;
$pink-color:#f94fa4;
$blue-color:#38ddf7;
$text-color:#939393;
$head-color:#2a2c2d;


// Fonts-size
$icon-fontsize:40px;
$text-fontsize:20px;

// Fonts
