body{
    overflow-x: hidden;
}

#navbar{
    background-color: $black-color;
    width: 1349px;
    height: 66px;
    .nav-left{
        
        .phone{
            color: white;
            margin-top: 24px;
            margin-left: -78px;
            &:hover{
                color: $yellow-color;
            }
        }
        .email{
            margin-left: 50px;
            color: white;
            margin-top: -24px;
            &:hover{
            color: $yellow-color;
    }
        }
    }
    .nav-right{
      
        .list-group-items{
                float: right;
              padding: 20px;
                list-style-type: none;
                font-size: 20px;
                color: white;
                .items{
                    margin-left: 5px;
                    &:hover{
                       color: $yellow-color;
                    }
                }
   
            }
        }
    }

.global{ 
     
    
   .globals{
       .globalitem{
           .globalitems{

            &:hover{
                color: yellow;
            }

           }
       }
   }
    }

.edutext{
     .edu{
        h3{
            text-align: center;
        }

        p{
            text-align: center;
        }
     }
    .book{
        img{
            background-color: $red-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
            // border-radius: 50%;
        }
    }
    .learn{
        img{
   
            background-color: $yellow-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
            &:hover{
                color: $yellow-color;

            }
        }
    }
    .instructors{
        img{
            background-color: $green-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
        }
    }
 } 


 
 .categories{
     .textcategories{
         h3{
             text-align: center;
         }

         P{
             text-align: center;
         }
     }
 }

  

//   Our Courses
.ourcourses{
    h3{
        text-align: center;
        color: $head-color;

    }
    p{
        text-align: center;
        color:$text-color;

    }
    .alia{
        overflow: hidden;
        box-shadow: 5px,10px;
        .img1{
            transition: all 0.5s;
            &:hover{
                transform: scale(1.2);
                
            }
        }

        h5{
            &:hover{
                color: $yellow-color;
            }
        }
        .courseicons{
            .fas{
              color: $yellow-color;
            }
            .far{
                margin-left: 28px;
                &:hover{
                    color: $yellow-color;
                }
            }
        span{
                &:hover{
                    color: $yellow-color;
                }
            }
        }
        .card-foot{
            img{
                border-radius: 100%;
            }
            .btnlght{ 
                background-color:$text-color;
                margin-left: 40px; 
                color: $green-color;
               
            }
            .name{
                &:hover{
                    color: $yellow-color;
                }
            }
        }
    }
}
// Most Popular Categories scss-i
.mostpopularcategories{
    .textcategories{
        h3{
            text-align: center;
            color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;

        }
    }

    .regular {
        text-align: center;
        margin-top:50px;

        .heartbeaticon{
            height: 123px;
            width: 200px;
            background-color: $blue-color;
            margin-right: 10px;
            border-radius: 6px;
        .fa-heartbeat{
           
            // background-color:$red-color;
            color:white;
            text-align: center;
            font-size:$icon-fontsize;
            justify-content: center;
            margin-top: 30px;
        } 
        h4{
            color: white;
            text-align: center;
        }
        }
        .codeicon{
            height: 123px;
            width: 200px;
            background-color: $orange-color;
            margin-right: 10px;
            border-radius: 6px;
          .fa-code{
           color: white;
           font-size:$icon-fontsize;
           margin-top: 30px;
        }
        h4{
            color: white;
        }
        }
        .businessicon{
            height: 123px;
            width: 200px;
            background-color:$green-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-chart-bar{
                color: white;
           font-size:$icon-fontsize;
           margin-top: 30px;

            }
            h4{
                color: white;

            }
        }
        .globeicon{
            height: 123px;
            width: 200px;
            background-color: $red-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-globe{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;

            }
            h4{
                color: white;
            }
        }
        .bookicon{
            height: 123px;
            width: 200px;
            background-color: $yellow-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-book{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;
            }

            h4{
                color: white;
            }
        }
        .cameraicon{
            height: 123px;
            width: 200px;
            background-color: $pink-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-camera{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;
                border-radius: 10px;
            }
            h4{
            color: white;
            }
        }
    }

}
//  About Us
#about{
    // position: relative;
    .aboutus{
        // z-index: 1;
        
        width: 800px;
        height: 400px;
        background-color: white;
        border-radius: 29%;
    
        .about{
            position: absolute;
            left: 66px;
            top: 10px;
        }

        .main{
            position: absolute;
            left: 49px;
            top: 64px;
            color: #939393;
            font-size: 20px;
            font-size: $text-fontsize;
            // font-size: $text-fontsize;

        }

        .text{
            position: absolute;
            font-size: $text-fontsize;
         /* bottom: -43px; */
          left: 47px;
          top: 192px;
          color: $text-color;
        }

       .number260{
           
      
    position: absolute;
    color: #f6475f;
    
    top: 268px;
    left: 71px;
       }
       .free{
        position: absolute;
        /* bottom: 25px; */
        left: 38px;
        top: 328px;
       }

         .number152{
            position: absolute;
            color: #b3d36a;
            /* margin-left: 328px; */
            /* margin-top: -84px; */
            left: 228px;
            top: 267px;
         }
        .paid{
            position: absolute;
            left: 195px;
            top: 330px;
        }

    }

    
.about-right{
    position: relative;
    img{
        width: 600px;
        position: absolute;
        left: 60px;
        top: 64px;
       

    }
 


     
        .icon{    
            font-size: 38px;
            position: absolute;
            color: white;;
            top: 238px;
            right: 267px;
            &:hover{
                font-size:45px;
                color: $yellow-color;
            }
}
        
            }
         
        .round{
        width: 20px;
        height: 20px;
        color: grey;
        }

    }
   
// View-all-Courses button
.view-all{
    color: white;
    .active{
        color: white;
        margin-left: 400px;
        a{
            color: white;
        }
    }
}
// Upcoming Events-in scss-i
.events{
    position: relative;
    .textarea{

        h1{
            text-align: center;
             color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;
            font-size: $text-fontsize;
        }
    }
    .time{
        position: relative;
        overflow: hidden;
        img{
            transition: all 0.5s;
            &:hover{
                transform: scale(1.2);
            }
        }
            .hour{
                color: white;
                width: 80px;
                height: 60px;
                background-color: $yellow-color;
                border-radius: 10px;
                margin-left: 6px;
                position: absolute;
                bottom: 82px;
    
            }
            .date{
                text-align: center;
                width: 80px;
                height: 90px;
                background-color: white;
                border-radius: 10px;
                
                margin-left: 5px;
                position: absolute;
                margin-top: 8px;
            }
        }
        .body{
             .card-text{
                 color: $text-color;
                 font-size: $text-fontsize;
             }
            .card-title{
                &:hover{
                    color:$yellow-color;
                    transition: all 0.5s;
                }
            }
            .eventicons{
                .name{
                    color: $yellow-color;
                }
            }
        }
        
    
}

// Activities
.activities{

    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/counter_bg.jpg');
    // width: 350px;
    position: relative;
    width: 1349px;
    height: 534px
    // height: ;
    // counter{
    //      .img{
    //          color: $text-color;
    //      }
    // }
}


// Our Blog
#ourblog{
    .blog {
       text-align: center;
    }
   .card-deck{
       .card-body{
           .card-title{
                 &:hover{
                     color: $yellow-color;
                     transition: all 0.5s;
                 }
           }
           .card-text{
               font-size: $text-fontsize;
               color: $text-color;

           }
           .read{
               &:hover{
                   color:$yellow-color;
                   transition: all 0.5s;
               }
            }
               .icondate{

                   .time{
                       color: $text-color;
                      &:hover{
                        color: $yellow-color;
                        transition: all 0.5s;
                    }
                   }
                   .commet{
                       margin-left: 60px;
                       color: $text-color;
                       &:hover{
                           color: $yellow-color;
                           transition: all 0.5s;
                       }
                   }
                     .fa-calendar{
                         color: $yellow-color;

                     }
                     .fa-comments{
                        color: $yellow-color;
                        margin-left: 50px;
                     }

                  }
           
         }
   }
}
// Our Cilent
.ourclient{
    .cilentabout{
        h1{
            text-align: center;
            color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;
            font-size: $text-fontsize;
        }
    }
    .regularslider{
        img{
            width: 215px;
            height: 174px;
            color: $text-color;
            margin-left: 27px;
        }     

    }
}

// View All Blog Button
.viewblog{
    .ylwbtn{
        margin-left: 465px;
        &:hover{
            color: $red-color;
        }
    }
}

// Footer

// Get The Coaching Training Today!
.coaching{
    background-color: $yellow-color;
    height: 200px;
    width: 1370px;
     .text{
         h3{
             color: $white-color;
             
         }

         p{
             color:$white-color; 
             font-size: $text-fontsize;
            }
     }
     
}
