body{
    overflow-x: hidden;
}

// Advertising
.advertising{
    width: 100%;
    height: 60px;
    background: $red-color;
    .advert{
        position: relative;
        p{
            position: absolute;
            left: 220px;
            top: 15px;
            font-size: 20px;
            color: white;
        }
        .get{
            color: white;
        }
          .icon{
            .clickbtn{
                position: absolute;
                left: 809px;
                top: 11px;
                color: black;
                font-size: 24px;
                color: white;
          }
        }
    }
}


// Navbar
#navbar{
    background-color: $black-color;
    width: 1349px;
    height: 66px;
    .nav-left{
        
        .phone{
            color: white;
            margin-top: 24px;
            margin-left: -78px;
            &:hover{
                color: $yellow-color;
            }
        }
        .email{
            margin-left: 50px;
            color: white;
            margin-top: -24px;
            &:hover{
            color: $yellow-color;
    }
        }
    }
    .nav-right{
      
        .list-group-items{
                float: right;
              padding: 20px;
                list-style-type: none;
                font-size: 20px;
                color: white;
                .items{
                    margin-left: 5px;
                    &:hover{
                       color: $yellow-color;
                    }
                }
   
            }
        }
    }

    // Sliders Carousel
   .slidersrv{
       .carousel{
           .carousel-inner{
               .carousel-item{
                   position: relative;
                   .img{
                       object-fit: cover;
                       width: 100%;
                       height: 580px;
                   }
                   h1{
                    position: absolute;
                    font-size: 50px;
                    top: 186px;
                    left: 353px;
                    color: white;
                   }
                   
                   p{
                    position: absolute;
                    top: 243px;;
                    margin-bottom: 1rem;
                    left: 309px;
                    font-size: 28px;
                    color:white;
                   }
                   .btn-warning{
                    position: absolute;
                    left: 500px;
                    top: 296px;
                    color: white;
                    border: 1px solid white;
                    width: 141px;
                    height: 45px;
                   }
                   .btn-light{
                    border: 1px solid white;
                    position: relative;
                    left: 648px;
                    bottom: 283px;
                    color: $yellow-color;
                    width: 147px;
                    height: 45px;
                    margin-left: 20px;
                    background-color: transparent;
                    &:hover{
                        background: white;
                    }
                  
                   }
               }

           }
       }
   }
    


// Global
.global{ 
   .globals{
       .globalitem{
           .globalitems{

            &:hover{
                color: yellow;
            }

           }
       }
   }
    }

// Edu Text

.edutext{
     .edu{
        h3{
            text-align: center;
        }

        p{
            color: $text-color;
            text-align: center;
        }
     }
    .book{
        // position: relative;
        &:hover{
            margin-top: 10px;

        }
        img{
            background-color: $red-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
            // border-radius: 50%;
        }
        h3{
            text-align: center;
        }
        p{
            color: $text-color;
        }
    }
    .learn{
        img{
   
            background-color: $yellow-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
            &:hover{
                color: $yellow-color;

            }
        }
        h3{
            text-align: center;
        }
        p{
            color: $text-color;
        }
    }
    .instructors{
        img{
            background-color: $green-color;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-left: 123px;
            margin-top: 63px;
        }
        h3{
            text-align: center;
        }
        p{
            color: $text-color;
        }
    }
 } 


//  Categories
 
 .categories{
     .textcategories{
         h3{
             text-align: center;
         }

         P{
             text-align: center;
         }
     }
 }

  

//   Our Courses
.ourcourses{
    h3{
        text-align: center;
        color: $head-color;

    }
    p{
        text-align: center;
        color:$text-color;

    }
    .alia{
        overflow: hidden;
        box-shadow: 5px,10px;
        .img1{
            transition: all 0.5s;
            &:hover{
                transform: scale(1.2);
                
            }
        }

        h5{
            &:hover{
                color: $yellow-color;
            }
        }
        .courseicons{
            .fas{
              color: $yellow-color;
            }
            .far{
                margin-left: 28px;
                &:hover{
                    color: $yellow-color;
                }
            }
        span{
                &:hover{
                    color: $yellow-color;
                }
            }
        }
        .card-foot{
            img{
                border-radius: 100%;
            }
            .btnlght{ 
                background-color:$text-color;
                margin-left: 40px; 
                color: $green-color;
               
            }
            .name{
                &:hover{
                    color: $yellow-color;
                }
            }
        }
    }
}
// Most Popular Categories scss-i
.mostpopularcategories{
    .textcategories{
        h3{
            text-align: center;
            color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;

        }
    }

    .regular {
        text-align: center;
        margin-top:50px;

        .heartbeaticon{
            height: 123px;
            width: 200px;
            background-color: $blue-color;
            margin-right: 10px;
            border-radius: 6px;
        .fa-heartbeat{
           
            // background-color:$red-color;
            color:white;
            text-align: center;
            font-size:$icon-fontsize;
            justify-content: center;
            margin-top: 30px;
        } 
        h4{
            color: white;
            text-align: center;
        }
        }
        .codeicon{
            height: 123px;
            width: 200px;
            background-color: $orange-color;
            margin-right: 10px;
            border-radius: 6px;
          .fa-code{
           color: white;
           font-size:$icon-fontsize;
           margin-top: 30px;
        }
        h4{
            color: white;
        }
        }
        .businessicon{
            height: 123px;
            width: 200px;
            background-color:$green-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-chart-bar{
                color: white;
           font-size:$icon-fontsize;
           margin-top: 30px;

            }
            h4{
                color: white;

            }
        }
        .globeicon{
            height: 123px;
            width: 200px;
            background-color: $red-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-globe{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;

            }
            h4{
                color: white;
            }
        }
        .bookicon{
            height: 123px;
            width: 200px;
            background-color: $yellow-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-book{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;
            }

            h4{
                color: white;
            }
        }
        .cameraicon{
            height: 123px;
            width: 200px;
            background-color: $pink-color;
            margin-right: 10px;
            border-radius: 6px;
            .fa-camera{
                color: white;
                font-size:$icon-fontsize;
                margin-top: 30px;
                border-radius: 10px;
            }
            h4{
            color: white;
            }
        }
    }

}
//  About Us
#about{
    
    .aboutus{
      
        
        width: 800px;
        height: 400px;
        background-color: white;
        border-radius: 29%;
    
        .about{
            position: absolute;
            left: 66px;
            top: 10px;
        }

        .main{
            position: absolute;
            left: 49px;
            top: 64px;
            color: #939393;
            font-size: 20px;
            font-size: $text-fontsize;
            // font-size: $text-fontsize;

        }

        .text{
            position: absolute;
            font-size: $text-fontsize;
         /* bottom: -43px; */
          left: 47px;
          top: 192px;
          color: $text-color;
        }

       .number260{
           
      
    position: absolute;
    color: #f6475f;
    
    top: 268px;
    left: 71px;
       }
       .free{
        position: absolute;
        left: 38px;
        top: 328px;
       }

         .number152{
            position: absolute;
            color: #b3d36a;
            left: 228px;
            top: 267px;
         }
        .paid{
            position: absolute;
            left: 195px;
            top: 330px;
        }

    }

    
.about-right{
    position: relative;
    img{
        width: 600px;
        position: absolute;
        left: 60px;
        top: 64px;
       

    }
 

        .icon{    
            font-size: 38px;
            position: absolute;
            color: white;;
            top: 238px;
            right: 267px;
            &:hover{
                font-size:45px;
                color: $yellow-color;
            }
}
        
            }
         
        .round{
        width: 20px;
        height: 20px;
        color: grey;
        }

    }
   
// View-all-Courses button
.view-all{
    color: white;
    .active{
        color: white;
        margin-left: 400px;
        a{
            color: white;
        }
    }
}
// Upcoming Events-in scss-i
.events{
    position: relative;
    .textarea{

        h1{
            text-align: center;
             color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;
            font-size: $text-fontsize;
        }
    }
    .time{
        position: relative;
        overflow: hidden;
        img{
            transition: all 0.5s;
            &:hover{
                transform: scale(1.2);
            }
        }
            .hour{
                color: white;
                width: 80px;
                height: 60px;
                background-color: $yellow-color;
                border-radius: 10px;
                margin-left: 6px;
                position: absolute;
                bottom: 82px;
    
            }
            .date{
                text-align: center;
                width: 80px;
                height: 90px;
                background-color: white;
                border-radius: 10px;
                
                margin-left: 5px;
                position: absolute;
                margin-top: 8px;
            }
        }
        .body{
             .card-text{
                 color: $text-color;
                 font-size: $text-fontsize;
             }
            .card-title{
                &:hover{
                    color:$yellow-color;
                    transition: all 0.5s;
                }
            }
            .eventicons{
                .name{
                    color: $yellow-color;
                }
            }
        }
        
    
}

// 

// Activities
.activities{
padding: 120px 0px;
background-image: url('../../assets/img/counter_bg.jpg');
position: relative;
    .item{
        position: relative;
        span{
            color: white;
            display: block;
        }
    }
    .key{
        font-size: 40px;
    }
     .value{
         font-size: 20px;
     }
}


// Our Teachers
.ourteachers{
    background-image: url('../../assets/img/teacher_bg.jpg');
    width:100%;
    height:500px;
    background-color: #1c3b5b;z-index: 999;
}


// Students Says
.studentsay{
    position: relative;
    .text{
        h2{
            text-align: center;
            color: $head-color;
        }

        p{
            text-align: center;
            color: $text-color;
            font-size: $text-fontsize;
        }
    }
    .studentimage{
        position: relative;
          img{
              position: absolute;
              left: 42px;
              top: 42px;
          }
    }
    .studenttext{
position:relative;
        h4{}

        span{
            color: $yellow-color;
        }

        p{
            color: $text-color;
          
        }
    }

        }
    


// Our Blog
#ourblog{
   
    .blog {
       text-align: center;
    }
   .card-deck{
       .card-body{
           .card-title{
                 &:hover{
                     color: $yellow-color;
                     transition: all 0.5s;
                 }
           }
           .card-text{
               font-size: $text-fontsize;
               color: $text-color;

           }
           .read{
               &:hover{
                   color:$yellow-color;
                   transition: all 0.5s;
               }
            }
               .icondate{

                   .time{
                       color: $text-color;
                      &:hover{
                        color: $yellow-color;
                        transition: all 0.5s;
                    }
                   }
                   .commet{
                       margin-left: 60px;
                       color: $text-color;
                       &:hover{
                           color: $yellow-color;
                           transition: all 0.5s;
                       }
                   }
                     .fa-calendar{
                         color: $yellow-color;

                     }
                     .fa-comments{
                        color: $yellow-color;
                        margin-left: 50px;
                     }

                  }
           
         }
   }
}

// Our Cilent
.ourclient{
    .cilentabout{
        h1{
            text-align: center;
            color: $head-color;
        }
        p{
            text-align: center;
            color: $text-color;
            font-size: $text-fontsize;
        }
    }
    .regularslider{
        img{
            width: 215px;
            height: 174px;
            color: $text-color;
            margin-left: 27px;
        }     

    }
}

// View All Blog Button
.viewblog{
    .ylwbtn{
        margin-left: 465px;
        &:hover{
            color: $red-color;
        }
    }
}

// Footer Start


// Get The Coaching Training Today!
.coaching{
    background-color: $yellow-color;
    height: 150px;
    width: 1370px;
     .text{
         position: relative;
         h2{
            color: white;
            font-size: 40px;
            position: absolute;
            top: 42px;
            left: -51px;
             
         }

         p{
             color:white; 
             font-size: $text-fontsize;
             position: absolute;
    top: 109px;
    left: -51px
            }
     }
     .startbutton{
         position: relative;
        .btn{
            border: 2px solid white;
            color: white;
            position: absolute;
            left: 110px;
            top: 72px;
            padding: 10px;
            width: 127px;
            overflow: hidden;
            position: relative;
            &:after {
                background: #fff;
                content: "";
                height: 155px;
                left: -75px;
                opacity: .2;
              
            &:hover{
                color: $yellow-color;
                transition: all 0.5s;
             
                  }
            }
        }
     }
    
     
}

// Information Footer
.edufooter{
    width: 1370px;
    height: 450px;
    background-color:$black-color;
    .items{
        position: relative;
        .globallogo{
            img{
                position: relative;
                border-style: none;
                 top: 85px;
                  left: -26px;
               }
             }
              .text{
            p{
                color:white;
                color: white;
   
          position: relative;
           top: 102px;
           left: -15px;

            }
            
        }
        .iconinfo{
            position: relative;
            span{
                color:white;
                position: absolute;
                top: 103px;
                &:hover{
                    color: $yellow-color;
                }
            }
            .fas{
                color: white;
                 position: relative;
               top: 103px;
             left: -11px;
            }
        }
    }
    .lists{
        h5{
            color: white;
            position: relative;
            top: 90px;
        }
        ul{
            a{
                text-decoration: none;
                li{
                    list-style-type: none;
                    color: white;
                     position: relative;
                    top: 92px;
                    padding: 2px;
                     left: -19px;
                     &:hover{
                         color:$yellow-color;
                         margin-left: 10px;
                         transition: all 0.5s;
                     }
                }
            }
        }
    }
     .recent{
         position: relative;
        
         h5{ 
            color: white;
            position: relative;
            left: -105px;
            top: 95px;
         }
         .imageinfo{
            position: relative;
            left: 100px;
            top: 30px;
             img{

                position: relative;
                top: 72px;
                vertical-align: middle;
                border-style: none;
                left: -197px;
             }
             p{
                position: absolute;
                top: 66px;
                left: -124px;
                color: white;
                }
             span{
                position: absolute;
                top: 116px;
                left: -128px;
                color: #939393;
             }
         }
         .imageinfo2{
            position: absolute;
            left: 84px;
            top: 51px;
           img{
            vertical-align: middle;
            position: relative;
            left: -181px;
            top: 159px;
           }

           span{
            
            vertical-align: middle;
            border-style: none;
            position: relative;
            left: -178px;
            top: 188px;
            color: #939393;
           }

           p{
            position: absolute;
            left: -111px;
            top: 156px;
            color: white;
           }
         }
         .imageinfo3{
            position: relative;
            top: -3px;
            left: 85px;
           
             img{
                position: absolute;
                left: -183px;
                top: 196px;
             }

             span{    
                left: -117px;
                position: absolute;
                top: 242px;
                color: #939393;
                 
             }

             p{
                position: absolute;
                left: -116px;
                top: 197px;
                color: white;
                
              
                
             }
         }
     }
     .subscribe{
        //  position: relative;
         h4{
            color: white;
            position: absolute;
            top: 90px;
         }
         p{
            color: white;
            position: relative;
            top: 135px;
            left: 6px;
         }
         .input{
            position: relative;
            display: flex;
            top:132px;
         }
         .followicon{
             position: relative;
             h3{
                 color: white;
                position: absolute;
                top: 124px;
                left: 25px;
             }

             a{
                text-decoration: none;
                position: relative;
                top: 166px;
                margin-left: 10px;
                
                 .fab{
                     color: white;
                     font-size:$icon-fontsize;
                     &:hover{
                         color: $yellow-color;
                         transition: all 0.2s;
                     } 
                 }
             }
        }
     
    }
}

// Footer End
.footerend{
    width: 100%;
    height: 100px;
    background-color: #202325;
    .text-left{
        position: relative;
        a{
            text-decoration: none;
            color: white;
          
         P{
            position: absolute;
            top: 46px;
            left: -60px;
         }
        }
    }
    .text-right{
        position: relative;
       
         

           .privacy{
            color: white;
    position: absolute;
    left: 212px;
    top: 44px;
    &:hover{
        color: $yellow-color;
        transition: all 0.5s;
    }
           }

           .terms{
            color: white;
            position: absolute;
            left: 353px;
             top: 45px;
             &:hover{
                 color:$yellow-color;
                 transition: all 0.5s;
             }
           }


     
    }
}